//- pug-templates/rcfg43/pages/projects/research.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title ИССЛЕДОВАНИЯ РЦФГ КИРОВСКОЙ ОБЛАСТИ

    include ../../templates/imports
    include ../../templates/mixins

    body(class="font-[Arial,sans-serif'] text-black")
        include  ../../templates/header
        // pc
        div(class="w-full h-[calc(100%-100px)] relative overflow-hidden hidden lg:block" )
            div(class="h-full absolute min-w-[920px] w-2/3 right-0 bg-no-repeat bg-center bg-cover" style="background-image: url('/vyatsu-web/rcfg43/img/projects/4.jpeg')")
            div(class="bg-white rotate-[30deg] absolute top-1/2 left-0 transform -translate-x-1/2 -translate-y-1/2 w-[100%] h-[300%]")
            div(class="bg-white rotate-[30deg] absolute top-1/2 -right-[160%] transform -translate-x-1/2 -translate-y-1/2 w-[100%] h-[300%]")
            div(class="h-full absolute w-1/3 left-24")
                div(class="absolute top-[50%] -translate-y-1/2")
                    div(class="text-[62px] text-[rgb(2,169,234)] font-semibold leading-[1.23]") ИССЛЕДОВАНИЯ РЦФГ КИРОВСКОЙ ОБЛАСТИ
                    div(class="mt-10")
        // mobile
        div(class="lg:hidden px-5 py-10")
            div(class="text-[62px] text-[rgb(2,169,234)] text-center font-semibold leading-[1.23]") ИССЛЕДОВАНИЯ РЦФГ КИРОВСКОЙ ОБЛАСТИ
            div(class="mt-10 text-center")
            img(class="mt-10 w-full" src='/vyatsu-web/rcfg43/img/projects/4.jpeg')
        //
        div(class="mx-auto max-w-[960px] text-center py-20 px-5")
            div(class="text-[30px] md:text-[38px] lg:text-[42px] text-[rgb(2,169,234)] leading-[1.23]") Оценка уровня финансовой грамотности и финансового поведения населения, проживающего на территории Кировской области, в 2022 году
            div(class="font-extralight text-[20px] md:text-[22px] mt-10") 
                a(href="") Ознакомится с исследованием
        //
        div(class="mx-auto max-w-[960px] text-center py-20 px-5")
            div(class="text-[30px] md:text-[38px] lg:text-[42px] text-[rgb(2,169,234)] leading-[1.23]") Оценка уровня финансовой грамотности и финансового поведения населения, проживающего на территории Кировской области, в 2021 году
            div(class="font-extralight text-[20px] md:text-[22px] mt-10") 
                a(href="") Ознакомится с исследованием