//- pug-templates/rcfg43/pages/projects/shkola-finansovoy-bezopasnoti.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title ШКОЛА ФИНАНСОВОЙ БЕЗОПАСНОСТИ

    include ../../templates/imports
    include ../../templates/mixins

    body(class="font-[Arial,sans-serif'] text-black")
        include  ../../templates/header
        // pc
        div(class="w-full h-[calc(100%-100px)] relative overflow-hidden hidden lg:block" )
            div(class="h-full absolute min-w-[920px] w-2/3 right-0 bg-no-repeat bg-center bg-cover" style="background-image: url('/vyatsu-web/rcfg43/img/projects/3.jpeg')")
            div(class="bg-white rotate-[30deg] absolute top-1/2 left-0 transform -translate-x-1/2 -translate-y-1/2 w-[100%] h-[300%]")
            div(class="bg-white rotate-[30deg] absolute top-1/2 -right-[160%] transform -translate-x-1/2 -translate-y-1/2 w-[100%] h-[300%]")
            div(class="h-full absolute w-1/3 left-24")
                div(class="absolute top-[50%] -translate-y-1/2")
                    div(class="text-[62px] text-[rgb(2,169,234)] font-semibold leading-[1.23]") ШКОЛА ФИНАНСОВОЙ БЕЗОПАСНОСТИ
                    div(class="mt-10") Мы готовы делиться с Вами актуальной и полезной информацией. Расскажем важные, но непонятные вещи простыми словами, а не научными терминами
        // mobile
        div(class="lg:hidden px-5 py-10")
            div(class="text-[62px] text-[rgb(2,169,234)] text-center font-semibold leading-[1.23]") ШКОЛА ФИНАНСОВОЙ БЕЗОПАСНОСТИ
            div(class="mt-10 text-center") Мы готовы делиться с Вами актуальной и полезной информацией. Расскажем важные, но непонятные вещи простыми словами, а не научными терминами
            img(class="mt-10 w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg')
        div(class="py-10 px-5 mx-auto max-w-[960px] font-extralight text-center text-[22px] md:text-[26px] lg:text-[30px] ").
            «Школа финансовой безопасности» — это проведение выездных мероприятий («уроков финансовой грамотности») в школах г. Кирова и Кировской области волонтёрами из числа студентов образовательных организаций высшего образования экономических направлений подготовки
            <br>
            <br>
            Охват аудитории мероприятиями — не менее 2000 чел., проведение не менее 40 стационарных, выездных (по территории Кировской области) и онлайн-мероприятий (с участием студентов из других регионов России) акселератора «Школа финансовой безопасности» с привлечением волонтеров — студентов российских вузов.
            <br>
            <a href="https://app-dev.xn--80apaohbc3aw9e.xn--p1ai/api/module/statistics/download-file?query=dXJsPWh0dHBzJTNBJTJGJTJGYXBwLWRldi54bi0tODBhcGFvaGJjM2F3OWUueG4tLXAxYWklMkZzdG9yYWdlJTJGMTkxMjIlMkZwcmV6ZW50YWNpeWEta2lyb3Zza2F5YS1vYmxhc3RwcHR4LnBkZiZlbnRpdHklNUIwJTVEPU1vZHVsZXMlNUNSZWdpb25zJTVDRW50aXRpZXMlNUNSZWdpb25hbFByYWN0aWNlJmVudGl0eSU1QjElNUQ9NTMy" rel="noreferrer noopener" target="_blank">Скачать презентацию проекта</a>
        div(class="grid grid-cols-2 lg:grid-cols-4 gap-2.5 lg:gap-5 p-5")
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 
            img(class="w-full" src='/vyatsu-web/rcfg43/img/projects/3.jpeg') 



        div(class="py-10 px-5 mx-auto max-w-[760px] font-extralight text-left text-[16px] md:text-[18px] lg:text-[20px] ").
            За проектом можно следить в группе ВКонтакте:

        a(href="https://vk.com/ifinlit" class="w-full h-20 bg-[#48729e] flex justify-center items-center" target="_blank" rel="nofollow noopener" aria-label="vk")
            svg.t-sociallinks__svg(role='presentation' width='50px' height='50px' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M53.7512 76.4147C25.0516 76.4147 8.68207 56.7395 8 24H22.376C22.8482 48.03 33.4463 58.2086 41.8411 60.3073V24H55.3782V44.7245C63.668 43.8326 72.3765 34.3885 75.3146 24H88.8514C86.5954 36.802 77.1513 46.2461 70.4355 50.1287C77.1513 53.2767 87.9076 61.5141 92 76.4147H77.0988C73.8983 66.446 65.9241 58.7333 55.3782 57.684V76.4147H53.7512Z' fill='#fff')