@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /*плавный переход*/
    scroll-behavior: smooth;
    /*когда фиксированный заголовок, то указания браузеру на какую позицию нужно сдвинуть scroll, 100px - высота фиксированной шапки*/
    scroll-padding-top: 100px;
}

.tippy-box[data-theme~='custom-white'] {
    background-color: white;
}

.tippy-box[data-theme~='custom-white'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: white;
}
