html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Лонгриды
        include ../../templates/imports
        include ../../templates/mixins
    body(class="bg-[#161525] font-media")
        include ../../templates/header
        //- block #1
        div(class="grid grid-cols-1 lg:grid-cols-2 gap-0 lg:mt-[80px]")
            +longread_tile("","Мафия","Кто просыпается, когда засыпает город?","/vyatsu-web/media/img/longreads/mafia.jpeg")
            +longread_tile("","Мы его теряем?","","/vyatsu-web/media/img/longreads/language.jpeg")
            +longread_tile("","Домашнее насилие", description="Лонгрид, посвящённый теме домашнего насилия", imgSrc="/vyatsu-web/media/img/longreads/violence.jpeg", rowspan=3, colspan=2,)
            +longread_tile("",'"ДО ГЛУБОКОЙ НОЧИ Я РИСУЮ"',"","/vyatsu-web/media/img/longreads/drowing.jpeg")
            +longread_tile("","Мир людей устроен так, что животным в нем не выжить...","","/vyatsu-web/media/img/longreads/animals.jpeg")
            +longread_tile("","НАУКА И ИННОВАЦИИ: мир умных вещей","Чем занимаются студенты ВятГУ летом?","/vyatsu-web/media/img/longreads/science.jpeg")
        include ../../templates/footer