html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title БИБЛИОТЕКА ИЗДАНИЙ РЦФГ КИРОВСКОЙ ОБЛАСТИ

    include ../../templates/imports
    include ../../templates/mixins

    body(class="font-[Arial,sans-serif'] text-black")
        include  ../../templates/header
        // pc
        div(class="w-full h-[calc(100%-100px)] relative overflow-hidden hidden lg:block" )
            div(class="h-full absolute min-w-[920px] w-2/3 right-0 bg-no-repeat bg-center bg-cover" style="background-image: url('/vyatsu-web/rcfg43/img/library.jpeg')")
            div(class="bg-white rotate-[30deg] absolute top-1/2 left-0 transform -translate-x-1/2 -translate-y-1/2 w-[100%] h-[300%]")
            div(class="bg-white rotate-[30deg] absolute top-1/2 -right-[160%] transform -translate-x-1/2 -translate-y-1/2 w-[100%] h-[300%]")
            div(class="h-full absolute w-1/3 left-24")
                div(class="absolute top-[50%] -translate-y-1/2")
                    div(class="text-[62px] text-[rgb(2,169,234)] font-semibold leading-[1.23] uppercase") БИБЛИОТЕКА ИЗДАНИЙ РЦФГ КИРОВСКОЙ ОБЛАСТИ
        // mobile
        div(class="lg:hidden px-5 py-10")
            div(class="text-[62px] text-[rgb(2,169,234)] text-center font-semibold leading-[1.23] uppercase") БИБЛИОТЕКА ИЗДАНИЙ РЦФГ КИРОВСКОЙ ОБЛАСТИ
            img(class="mt-10 w-full" src='/vyatsu-web/rcfg43/img/library.jpeg')
        div(class="mx-auto max-w-[1160px] py-10 px-5 space-y-20")
            +library_book()
            +library_book()
        p(class="text-right mt-20 font-extralight opacity-50 p-5") Изображение на обложке раздела: jcomp на Freepik