div(class="w-full min-h-[700px] relative")
    div(
        class="h-full w-full absolute top-0 left-0 bg-no-repeat bg-fixed bg-center bg-cover"
        style="background-image: url('/vyatsu-web/expert/img/back-1.png')"
    )
        div(class="h-full bg-gradient-to-b from-[rgba(51,58,146,0.50)] to-[rgba(51,58,146,0.90)]")
            div(class="mx-auto max-w-[1200px] w-full h-full flex justify-center items-center text-white px-10 lg:px-0")
                div(class="w-full font-bold text-center text-[32px] md:text-[68px] lg:text-[72px]") Кировский региональный центр исследований и экспертиз ВятГУ