div(id="contacts" class="py-[150px] bg-[rgb(50,58,146)] text-center text-white")
    div(class="max-w-[560px] mx-auto")
        div(class="text-[30px] lg:text-[42px] font-semibold") Контакты
        div(class="mt-5 text-[20px] lg:text-[24px] font-bold ") АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ "КИРОВСКИЙ РЕГИОНАЛЬНЫЙ ЦЕНТР ИССЛЕДОВАНИЙ И ЭКСПЕРТИЗ ВЯТГУ"
        div(class="mt-10 text-sm lg:text-lg")
            div(class="italic font-light") 610000, обл Кировская, г Киров,<br>ул Московская, дом 36, оф 111а
            div(class="mt-5 font-light") <strong class="font-bold">Директор:</strong> Костин Алексей Александрович
            div(class="font-light") <strong class="font-bold">Тел.:</strong> (8332)74-27-04, (8332)74-29-02<br><strong>
            a(href="mailto:mail@sudexpertcentr.ru" class="font-light") <strong class="font-bold">E-mail:</strong> mail@sudexpertcentr.ru
            div(class="mt-5")
                a(href="https://vk.com/public222837968" class="font-light") https://vk.com/public222837968
