//- mir-umnih-veschey
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title НАУКА И ИННОВАЦИИ: мир умных вещей
        include ../../../templates/mixins
        include ../../../templates/imports
    body(class="bg-white font-media")
        include ../../../templates/header
        //- 
        div(class="h-screen lg:h-[calc(100vh-80px)] lg:mt-[80px] flex items-center justify-center relative")
            div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover bg-fixed"
                style="background-image: url('/vyatsu-web/media/img/longreads/science.jpeg')")
            div(class="absolute h-full w-full bg-gradient-to-b from-transparent to-[#ffffff]")
            div(class="max-w-[1200px] mx-auto absolute h-full w-full")
                div(class="w-full h-full flex flex-col justify-center items-center text-white text-center mx-auto max-w-[1160px]")
                    div(class="text-4xl lg:text-[62px] font-bold") НАУКА И ИННОВАЦИИ:
                    div(class="mt-10 text-2xl lg:text-[46px] font-bold") мир умных вещей
        //- 
        div(class="py-20 px-5") 
            div(class="text-center mx-auto max-w-[760px] text-xl lg:text-3xl") Наука и инновации – эти два слова очень часто встречаются в одном предложении. 
                |Одни отождествляют эти понятия, другие утверждают, что наука – это, прежде всего, эксперименты, исследования, научные работы, а инновации – это передовые технологии и современные гаджеты.
                br
                br
                |Так или иначе, но в одном эти понятия схожи – и то, и другое означают развитие, движение вперед.
            div(class="my-10 bg-[#7a7a7a80] h-[1px] w-full mx-auto max-w-[1200px]")
            div(class="mx-auto max-w-[760px]")
                div(class="text-center font-bold text-[28px]") Наша компания – это 7 человек
                div(class="mt-5 text-base lg:text-[20px]") Лето, каникулы, единственные посетители большей части учебных корпусов – охранники и администраторы. Увидев съемочную бригаду с аппаратурой, охранник сразу показывает, как пройти в университетский коворкинг – одно из немногих помещений в Инженериуме ВятГУ, в которых жизнь продолжается даже летом.
                    br
                    br
                    |В небольшом кабинете с единственным столом и стенами, исписанными формулами, расчетами и схемами, нас встречают четыре молодых человека. После коротких приветствий наступает пауза – за столом идет работа и отвлекаться на журналистов явно никто не хочет.
        //- 
        div(class=" grid grid-cols-2")
            img(class="object-cover w-full" src="/vyatsu-web/media/img/longreads/mir-umnih-veschey/photo-1.jpg")
            img(class="object-cover w-full" src="/vyatsu-web/media/img/longreads/mir-umnih-veschey/photo-2.jpg")
        div(class="my-10 bg-[#7a7a7a80] h-[1px] w-full mx-auto max-w-[1200px]")
        //- 
        div(class="py-10 px-5")
            ul(class="space-y-7 text-xl lg:text-2xl mx-auto max-w-[760px] italic")
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Ребята, мы делаем журналистский материал на тему «Наука и инновации», нам сказали, что вы занимаетесь очень перспективной и инновационной разработкой. Кто сможет ответить на наши вопросы?
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") 
                    div(class="not-italic") Спустя несколько секунд из-за стола поднимается один из молодых людей под одобрительные и выражающие облегчение взгляды своих коллег:
                    br
                    div() — Наверно, придется мне отвечать. Здравствуйте еще раз, меня зовут Денис Лубянников, я генеральный директор компании «ProGears».
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Компании? Вы уже открыли свою компанию?
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Ну, она сейчас находится на стадии оформления, документы будут готовы через пару недель.
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Получается, у вас уже целая команда?
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Наша компания – это 7 человек, мы студенты-бакалавры.
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — А чем вы занимаетесь?
                li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Мы занимаемся разработкой хаба для устройств интернета вещей. Он позволит создавать различные системы интернета вещей, такие как умные дома, умные автомобили, системы автоматизации малых предприятий.
        //- 
        div(class="mx-auto max-w-[1200px]")
            img(class="" src="/vyatsu-web/media/img/longreads/mir-umnih-veschey/photo-3.jpg")
            div(class="my-10 bg-[#7a7a7a80] h-[1px] w-full mx-auto max-w-[1200px]")
        //-
        div(class="my-10 px-5") 
            div(class="mx-auto max-w-[760px]")
                div(class="text-center font-bold text-[28px]") Интернет вещей или чайник тоже может быть умным
                div(class="mt-5 text-base lg:text-[20px]") Термин «интернет вещей» приобрел широкую известность всего несколько лет назад. 
                    |Аналитики корпорации Cisco, если верить статье Википедии, считают период с 2008 по 2009 год 
                    |«настоящим рождением «интернета вещей» - именно в этом промежутке количество устройств, подключенных к глобальной сети превысило численность населения Земли. 
                    |Таким образом «интернет людей» стал «интернетом вещей».
                    br
                    br
                    |Так что же такое «интернет вещей»? По сути, это вещи (бытовая техника, автомобили, системы охраны, водоснабжения, поддержания климата и т.д.), 
                    |подключенные к сети Интернет и работающие без вмешательства человека, ориентируясь на его потребности. 
                    |В качестве примера можно привести умный дом. Однако само понятие «интернет вещей» намного шире автоматизированных инженерных систем и электроприборов в здании.
        //- 
        div(class="mx-auto max-w-[1200px]")
            img(class="" src="/vyatsu-web/media/img/longreads/mir-umnih-veschey/photo-4.jpg")
            div(class="my-10 bg-[#7a7a7a80] h-[1px] w-full mx-auto max-w-[1200px]")
        //-
        div(class="my-10 ") 
            div(class="mx-auto max-w-[760px] px-5")
                div(class="text-center font-bold text-[28px]") ThingsHub is about People
            div(class="mt-10 mx-auto max-w-[960px]")
                iframe(class="aspect-video w-full" src='https://www.youtube.com/embed/i6-fYa8uwaU?si=o4TRWNHaZWqNNB-0' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen)
            div(class="my-10 px-5 bg-[#7a7a7a80] h-[1px] w-full mx-auto max-w-[1200px]")
        //-
        div(class="my-10 px-5") 
            div(class="mx-auto max-w-[760px]")
                div(class="text-center font-bold text-[28px]") Наука или инновации?
                div(class="text-center text-base") О своей разработке ребята говорят, прежде всего, как об инновации.
                div(class="mt-5 font-light text-base lg:text-xl italic") — Мы занимаемся больше инженерной деятельностью, - говорит Максим Куклин, технический директор компании.
                    |– Науки здесь минимум. Она присутствует только в том, что мы используем уже открытое. Мы не проводим исследований, не открываем новые законы. 
                    |Мы создаем новое, совмещая уже известное. Инновация заключается в том, что наша разработка будет удобной для всех.
            div(class="my-10 px-5 bg-[#7a7a7a80] h-[1px] w-full mx-auto max-w-[1200px]")
        //-
        div(class="my-10 px-5") 
            div(class="mx-auto max-w-[760px] ")
                div(class="text-center font-bold text-[28px]") Сделать этот мир лучше
                ul(class="mt-5 space-y-7 text-xl lg:text-2xl mx-auto max-w-[760px] italic")
                    li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Ребята, а что вас мотивирует? Зачем вы работаете над этим?
                    li(class="odd:font-semibold even:font-light even:text-base even:lg:text-xl") — Изменить мир, сделать мир лучше, - отшучивается Денис Лубянников. – Нет, если серьезно, нам самим нужно такое устройство для того, чтобы автоматизировать наши дома, наши автомобили, потому что в настоящий момент подобных систем нет. Другие системы не обладают такими широкими возможностями, и они менее удобны.
                div(class="mt-5 font-light text-base lg:text-xl") «Сделать мир лучше» - с подобными девизами и слоганами много лет назад выпускали свои первые продукты сегодняшние гиганты IT-технологий. 
                    |И надо сказать, в случае молодой компании из периферии, разрабатывающей инновационный продукт, эти слова не так уж и неуместны. 
                    |Крупные интернациональные IT-корпорации каждый год выпускают новые устройства, которые делают нашу жизнь удобнее, 
                    |но и они когда-то начинали всего с нескольких человек, которые просто верили, что их идея нужна людям.
            div(class="my-10 px-5 bg-[#7a7a7a80] h-[1px] w-full mx-auto max-w-[1200px]")
        //- 
        div(class="my-10")
            div(class="mt-10 mx-auto max-w-[960px]")
                iframe(class="w-full aspect-video" src='//coub.com/embed/wtb45?muted=false&autostart=false&originalSize=false&startWithHD=false' allowfullscreen frameborder='0' allow='autoplay')
                


        include ../../../templates/footer
    