html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title "ДО ГЛУБОКОЙ НОЧИ Я РИСУЮ"
        include ../../../templates/imports
    body(class="bg-white font-media")
        include ../../../templates/header
        //- block #1
        div(class="h-[70vw] lg:h-[calc(100vh-80px)] lg:mt-[80px] flex items-center justify-center relative")
            div(class="absolute h-full w-full top-0 left-0 bg-no-repeat bg-center bg-cover"
                style="background-image: url('/vyatsu-web/media/img/longreads/drowing.jpeg')")
            div(class="absolute h-full w-full bg-gradient-to-b from-[rgba(155,45,48,0.7)] to-[rgba(148,189,94,0.7)]")
            div(class="max-w-[1200px] mx-auto absolute h-full w-full")
                div(class="w-full absolute bottom-5 lg:bottom-20 flex justify-center")
                    div(class="text-white text-center text-3xl lg:text-6xl font-black p-4 font-['Georgia'] italic") "ДО ГЛУБОКОЙ НОЧИ Я РИСУЮ" 
        //-  block #2
        div(class="px-5 py-20 ")
            div(class="mx-auto max-w-[560px] flex flex-col justify-center items-center space-y-20")
                svg(role='presentation' width='50px' height='11.93px' viewBox='0 0 88 21')
                    g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                    g(fill='#000000')
                    g
                    g
                    path#Shape(d='M77.2,20.9 C77.2,20.9 76.3,16.6 73.7,14 C71.1,11.4 66.8,10.5 66.8,10.5 C66.8,10.5 71.1,9.6 73.7,7 C76.3,4.3 77.2,0 77.2,0 C77.2,0 78.1,4.3 80.7,7 C83.3,9.6 87.7,10.5 87.7,10.5 C87.7,10.5 83.4,11.4 80.8,14 C78.1,16.6 77.2,20.9 77.2,20.9 L77.2,20.9 Z')
                    path#Shape(d='M44.3,20.9 C44.3,20.9 43.4,16.6 40.8,14 C38.2,11.4 33.9,10.5 33.9,10.5 C33.9,10.5 38.2,9.6 40.8,7 C43.4,4.3 44.3,0 44.3,0 C44.3,0 45.2,4.3 47.8,7 C50.4,9.6 54.8,10.5 54.8,10.5 C54.8,10.5 50.5,11.4 47.9,14 C45.2,16.6 44.3,20.9 44.3,20.9 L44.3,20.9 Z')
                    path#Shape(d='M11.1,20.9 C11.1,20.9 10.2,16.6 7.6,14 C5,11.4 0.7,10.5 0.7,10.5 C0.7,10.5 5,9.6 7.6,7 C10.1,4.3 11.1,0 11.1,0 C11.1,0 12,4.3 14.6,7 C17.2,9.6 21.6,10.5 21.6,10.5 C21.6,10.5 17.3,11.4 14.7,14 C12,16.6 11.1,20.9 11.1,20.9 L11.1,20.9 Z')
                div(class="italic text-center text-[22px]") Художниками рождаются, или всё-таки становятся? Что важнее – дар или упорство в работе над собой? Где искать вдохновение? Стоит найти «серьёзную» профессию, или пытаться заработать на рисунках? И что предпочесть – бумагу, компьютер или… человеческую кожу?
                svg(role='presentation' width='50px' height='11.93px' viewBox='0 0 88 21')
                    g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                    g(fill='#000000')
                    g
                    g
                    path#Shape(d='M77.2,20.9 C77.2,20.9 76.3,16.6 73.7,14 C71.1,11.4 66.8,10.5 66.8,10.5 C66.8,10.5 71.1,9.6 73.7,7 C76.3,4.3 77.2,0 77.2,0 C77.2,0 78.1,4.3 80.7,7 C83.3,9.6 87.7,10.5 87.7,10.5 C87.7,10.5 83.4,11.4 80.8,14 C78.1,16.6 77.2,20.9 77.2,20.9 L77.2,20.9 Z')
                    path#Shape(d='M44.3,20.9 C44.3,20.9 43.4,16.6 40.8,14 C38.2,11.4 33.9,10.5 33.9,10.5 C33.9,10.5 38.2,9.6 40.8,7 C43.4,4.3 44.3,0 44.3,0 C44.3,0 45.2,4.3 47.8,7 C50.4,9.6 54.8,10.5 54.8,10.5 C54.8,10.5 50.5,11.4 47.9,14 C45.2,16.6 44.3,20.9 44.3,20.9 L44.3,20.9 Z')
                    path#Shape(d='M11.1,20.9 C11.1,20.9 10.2,16.6 7.6,14 C5,11.4 0.7,10.5 0.7,10.5 C0.7,10.5 5,9.6 7.6,7 C10.1,4.3 11.1,0 11.1,0 C11.1,0 12,4.3 14.6,7 C17.2,9.6 21.6,10.5 21.6,10.5 C21.6,10.5 17.3,11.4 14.7,14 C12,16.6 11.1,20.9 11.1,20.9 L11.1,20.9 Z')
        //-  block #3
        div(class="lg:flex lg:h-[calc(100vh-80px)]")
            div(class="flex-1 h-[450px] lg:h-auto bg-no-repeat bg-center bg-cover" style="background-image: url('/vyatsu-web/media/img/longreads/ya_risuyu/paint-1.jpg')")
            div(class="flex-1 bg-red-800 py-20 px-5 lg:px-20 text-white text-2xl text-center italic flex flex-col justify-center") У каждого, кто не видит своей жизни без изобразительного искусства, есть свои ответы на все эти вопросы. Ведь любая творческая личность обладает собственной историей, интересами и способом жить. И с одной из них у нас есть возможность познакомиться поближе.
        //- block #4
        div(class="px-5 py-20")
            div(class="text-[#89ad5a] text-5xl text-center italic") Валерия Петрова
            div(class="max-w-[1200px] mx-auto mt-20 grid grid-cols-1 lg:grid-cols-3 gap-10 text-center")
                div(class="flex flex-col items-center")
                    img(class="h-[100px] w-[100px]" src="/vyatsu-web/media/img/longreads/ya_risuyu/age.png" alt="")
                    div(class="mt-5 font-bold text-2xl italic") Возраст
                    div(class="italic text-xl") 25 лет.
                div(class="flex flex-col items-center")
                    img(class="h-[100px] w-[100px]" src="/vyatsu-web/media/img/longreads/ya_risuyu/skill.png" alt="")
                    div(class="mt-5 font-bold text-2xl italic") Навыки
                    div(class="italic text-xl") Занималась в детской художественной школе 10 лет.
                div(class="flex flex-col items-center")
                    img(class="h-[100px] w-[100px]" src="/vyatsu-web/media/img/longreads/ya_risuyu/edu.png" alt="")
                    div(class="mt-5 font-bold text-2xl italic") Образование
                    div(class="italic text-xl") ВятГУ, специалист по художественной обработке материалов.
        //- block #5
        div(class="px-5 py-20")
            // Slider main container
            div(class="swiper mx-auto max-w-[1200px] h-fit lg:!px-24")
                // Additional required wrapper
                div(class="swiper-wrapper")
                    // Slides
                    div(class="swiper-slide")
                        img(class="" src="/vyatsu-web/media/img/longreads/ya_risuyu/photo-1.jpg")
                    div(class="swiper-slide")
                        img(class="" src="/vyatsu-web/media/img/longreads/ya_risuyu/photo-2.jpg")
                    // If we need pagination
                .swiper-pagination
                // If we need navigation buttons
                div(class="swiper-button-prev !text-black")
                div(class="swiper-button-next !text-black")
        //- block #6
        div(class="px-5 py-20")
            div(class="max-w-[1200px] mx-auto grid grid-cols-1 lg:grid-cols-2 gap-x-10 gap-y-5")
                img(src="/vyatsu-web/media/img/longreads/ya_risuyu/paint-2.jpg" class="object-cover w-full h-full row-span-2")
                img(src="/vyatsu-web/media/img/longreads/ya_risuyu/paint-3.jpg" class="object-cover w-full h-full aspect-video")
                img(src="/vyatsu-web/media/img/longreads/ya_risuyu/photo-3.jpg" class="object-cover w-full h-full aspect-video")
        //- block #7
        div(class="text-center px-5 py-10")
            a(class="text-[#89ad5a] text-center italic font-bold text-[26px]" href="/vyatsu-web/media/longrids/ya_risuyu_part2") Хочешь увидеть ещё больше работ этой девушки? Жми на этот текст ;)

        include ../../../templates/footer

script.
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });