div(id="about" class="")
    div(class="mb-10 text-[62px] text-[rgb(2,169,234)] uppercase font-semibold text-center") О ЦЕНТРЕ
    div(class="text-center text-[23px] font-extralight max-w-[960px] mx-auto").
        <em>Научно-образовательный центр «Региональный центр финансовой грамотности» (РЦФГ)</em><br> является структурным подразделением Вятского государственного университета.
        <br><br>
        РЦФГ создан в соответствии с Региональной программой «Повышение финансовой грамотности населения Кировской области» на 2020 – 2023 годы
        на основании соглашения с министерством финансов Кировской области

