div(id="about" class="")
    div(class="mb-10 text-[62px] text-[rgb(2,169,234)] uppercase font-semibold text-center") О ЦЕНТРЕ
    div(class="text-center text-[23px] font-extralight max-w-[960px] mx-auto").
        <em>Научно-образовательный центр «Региональный центр финансовой грамотности» (РЦФГ)</em><br> является структурным подразделением Вятского государственного университета.
        <br><br>
        РЦФГ создан в соответствии с Региональной программой «Повышение финансовой грамотности населения Кировской области» на 2020 – 2023 годы
        на основании соглашения с министерством финансов Кировской области
    div(class="mt-20 text-center text-[42px] leading-[1.23] font-semibold max-w-[960px] mx-auto").
        Главное направление деятельности — повышение уровня финансовой культуры жителей региона
    div(class="mt-20 max-w-[760px] mx-auto")
        div(class="accordion border-t py-7 pr-10 relative cursor-pointer group/item")
            div(class="text-[24px] text-[rgb(2,169,234)]") Цели центра
            div(class="icon absolute right-0 top-1/2 -translate-y-2/4 h-10 w-10 invisible group-hover/item:visible")
                div(class="absolute top-0 left-0 rounded-full bg-[#eee] h-10 w-10")
                div(class="absolute top-1/2 -translate-y-2/4 w-10 h-10 p-2 ")
                    svg( role='presentation' focusable='false' width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                        g(stroke='none' stroke-width='1px' fill='none' fill-rule='evenodd' stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)' stroke='#222222')
                                path(d='M0,11 L22,11')
                                path(d='M11,0 L11,22')

        div(class="panel left-[1.55] pb-10 mb-5 hidden")
            strong="Основной целью РЦФГ "
            span(class="font-light").
                является: информационно-просветительская работа с гражданами, формирование финансовой, бюджетной, налоговой культуры и дисциплины, с целью предупреждения экономических и финансовых правонарушений и обеспечения финансовой безопасности; широкое информирование населения, создание гражданам условий, включая развитие доброжелательного отношения к финансовому и бюджетному законодательству, информирование и консультирование; проведение научных исследований в сфере повышения финансовой грамотности и обеспечения финансовой безопасности государства, региона, граждан; реализация эффективного сотрудничества с вузами России, зарубежных государств, федеральными и региональными министерствами и ведомствами, Ассоциацией развития финансовой грамотности, финансово-кредитными и инвестиционными организациями в рамках организации научных исследований и проведения образовательных и просветительских проектов.

        div(class="accordion border-t py-7 pr-10 relative cursor-pointer group/item")
            div(class="text-[24px] text-[rgb(2,169,234)]") Задачи
            div(class="icon absolute right-0 top-1/2 -translate-y-2/4 h-10 w-10 invisible group-hover/item:visible")
                div(class="absolute top-0 left-0 rounded-full bg-[#eee] h-10 w-10")
                div(class="absolute top-1/2 -translate-y-2/4 w-10 h-10 p-2 ")
                    svg( role='presentation' focusable='false' width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                        g(stroke='none' stroke-width='1px' fill='none' fill-rule='evenodd' stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)' stroke='#222222')
                                path(d='M0,11 L22,11')
                                path(d='M11,0 L11,22')

        div(class="panel left-[1.55] pb-10 mb-5 hidden")
            strong="Основными задачами РЦФГ являются:"
            ul(class="list-decimal list-inside font-light")
                li обеспечение координации работы различных участников в сфере повышения финансовой грамотности населения Кировской области;
                li организация системы многоуровневого финансового образования и просвещения, способствующей передаче знаний и навыков финансовой грамотности в сфере финансов и финансовой безопасности всем категориям населения;
                li создание условий по развитию доброжелательного отношения к финансам, инвестированию, сбережениям, вопросам обеспечения финансовой безопасности через информирование и консультирование, интерактивные мероприятия;
                li разработка и апробация методики оценки уровня финансовой грамотности и финансового поведения населения, проживающего на территории Кировской области;
                li разработка комплектов методических рекомендаций (учебно-методических пособий) по повышению финансовой грамотности населения для включения в образовательные программы общего, среднего профессионального и высшего образования;6. разработка методических материалов (научно-популярных пособий) по финансовой грамотности для граждан трудоспособного, предпенсионного и пенсионного возраста
                li разработка онлайн-курса «Основы финансовой грамотности» с последующим размещением его на платформах открытого образования;
                li организация обучения различных категорий граждан по вопросам финансовой грамотности.

        div(class="accordion border-t py-7 pr-10 relative cursor-pointer group/item")
            div(class="text-[24px] text-[rgb(2,169,234)]") Функции РЦФГ
            div(class="icon absolute right-0 top-1/2 -translate-y-2/4 h-10 w-10 invisible group-hover/item:visible")
                div(class="absolute top-0 left-0 rounded-full bg-[#eee] h-10 w-10")
                div(class="absolute top-1/2 -translate-y-2/4 w-10 h-10 p-2 ")
                    svg( role='presentation' focusable='false' width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                        g(stroke='none' stroke-width='1px' fill='none' fill-rule='evenodd' stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)' stroke='#222222')
                                path(d='M0,11 L22,11')
                                path(d='M11,0 L11,22')

        div(class="panel left-[1.55] pb-10 mb-5 hidden")
            strong="Основными функциями в области деятельности РЦФГ являются:"
            ul(class="list-disc list-inside font-light")
                li осуществление просветительских мероприятий (отрытых лекций, семинаров, мастер-классов) на безвозмездной основе в сфере повышения финансовой грамотности различных категорий населения региона;
                li подготовка и повышение квалификации образовательных кадров в области экономики и финансов, реализации образовательных программ в сфере повышения финансовой грамотности;
                li проведение комплекса научных мероприятий (онлайн-проектов, круглых столов, дискуссий, конференций) и научных исследований в сфере повышения финансовой грамотности;
                li проведение специализированных семинаров, школ, мастер-классов, дискуссий, конференций и симпозиумов по направлению деятельности РЦФГ;
                li организация деятельности Центра финансовых консультаций;
                li методическая помощь, организация образовательной подготовки и просветительских мероприятий на различных уровнях системы образования;
                li разработка фондов оценочных средств и проведение олимпиад и конкурсов для школьников и студентов;
                li организация образовательных мероприятий в рамках всероссийских акций «Дни финансовой грамотности», «Всероссийская неделя сбережений» и др. в формате масштабных мероприятий с привлечением студентов, школьников, граждан пенсионного возраста, представителей учреждений социального обслуживания и других категорий населения в различных форматах;
                li проведение конкурсов научно-исследовательских работ и творческих проектов студентов и школьников по тематике финансовой грамотности;
                li организация деятельности волонтерского проекта «Школа финансовой безопасности» (проведение уроков и мероприятий по финансовой грамотности в образовательных организациях);
                li издание научно-популярной и учебно-методической литературы по финансовой грамотности, публикации в рецензируемых журналах результатов научных исследований;
                li оказание консультационных и образовательных услуг гражданам в сфере повышения финансовой грамотности на безвозмездной основе.


script.
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */

            /* Toggle between hiding and showing the active panel */
            const panel = this.nextElementSibling;
            const icon = this.querySelector(".icon")

            this.classList.toggle("active");
            panel.classList.toggle("active");

            if (panel.classList.contains('active')) {
                panel.classList.toggle("hidden",false);
                icon.classList.toggle("rotate-45",true);
            } else {
                panel.classList.toggle("hidden", true);
                icon.classList.toggle("rotate-45",false);

            }
        });
    }
