div(class="w-full h-[calc(100vh-100px)] min-h-[500px] pb-20 bg-white")
    div(class="h-full flex flex-col-reverse lg:flex-row justify-center items-center gap-5 mx-5")
        div(class="text-[rgb(2,169,234)]")
            div(class="mt-5 lg:mt-0 text-center lg:text-left text-[38px] md:text-[48px] lg:text-[54px] 2xl:text-[68px] font-semibold") Региональный центр<br>Финансовой грамотности<br>Кировской области
            div(class="mt-10 text-xl font-light text-center lg:text-left leading-[52px]") Повышаем вашу экономическую грамотность
        div(class="min-h-[260px] h-[210px] lg:h-[300px] xl:h-[400px]")
            img(class="h-full max-w-none" src="/vyatsu-web/rcfg43/img/logo1.png")
