div(id="contacts" class="py-[180px]")
    div(class="mb-[70px] text-[62px] text-[rgb(2,169,234)] uppercase font-semibold text-center") КОНТАКТЫ
    div(class="flex flex-col items-center")
        div(class="rounded-full overflow-hidden w-[160px] aspect-square")
            img(src="/vyatsu-web/rcfg43/img/contact.png")
        div(class="mt-10 text-[rgb(2,169,234)] text-[18px]") Елена Валерьевна Каранина
        div(class="mt-2 text-center text-xs font-light opacity-70 text-[rgb(15,15,15)]")
            div д.э.н., профессор,
            div заведующий кафедрой Финансов и экономической безопасности ВятГУ,
            div руководитель Центра финансовой грамотности
        div(class="mt-10 text-[14px] text-center")
            div
                strong Телефон:
                span(class="font-extralight")=" 8 (8332) 742-640"
            div
                strong Email:
                span(class="font-extralight")=" rcfg@vyatsu.ru"
