div(id="news" class="px-5")
    div(class='max-w-[1200px] mx-auto grid grid-cols-1 gap-x-5 gap-y-10 lg:grid-cols-4 lg:gap-10')
        +post("Подарки на Новый год: как объяснить детям, что Дед Мороз не всемогущий?","./news","/vyatsu-web/rcfg43/img/news/1.jpeg","15.12.2023")
        +post("Как определять звонки злоумышленников","./news","/vyatsu-web/rcfg43/img/news/2.png","12.12.2023")
        +post("Студенты ВятГУ продолжают проводить уроки финансовой грамотности для школьников","./news","/vyatsu-web/rcfg43/img/news/3.jpeg","12.12.2023")
        +post("Преподаватель ВятГУ провела лекцию по финансовой грамотности в Университете третьего возраста","./news","/vyatsu-web/rcfg43/img/news/4.jpeg","12.12.2023")
    // load more
    .mt-10.flex.justify-center.items-center
        div(class="bg-[rgb(2,169,234)] cursor-pointer flex justify-center items-center text-white px-10 py-4 rounded-full") Показать ещё
