div(id="news" class="px-5")
    div(class="py-10")
        div(class="text-[30px] lg:text-[42px] text-[rgb(2,169,234)] uppercase font-semibold text-center") Новости
    div(class='max-w-[1200px] mx-auto grid grid-cols-1 gap-x-5 gap-y-10 md:grid-cols-4 lg:gap-10')
        a(class='min-h-[350px] bg-white rounded-3xl overflow-hidden flex flex-col' href='./news')
            div(class='h-[270px] bg-no-repeat bg-cover bg-center' style="background-image: url('/vyatsu-web/rcfg43/img/news/1.jpeg')")
            div(class="flex-1 p-5 pb-10 bg-[rgb(2,169,234)] relative")
                div(class='font-bold text-xs lg:text-base text-white') Подарки на Новый год: как объяснить детям, что Дед Мороз не всемогущий?
                div(class='font-light text-[10px] text-[#00000080] absolute bottom-5') 12.12.2023
        a(class='min-h-[350px] bg-white rounded-3xl overflow-hidden flex flex-col' href='./news')
            div(class='h-[270px] bg-no-repeat bg-cover bg-center' style="background-image: url('/vyatsu-web/rcfg43/img/news/2.png')")
            div(class="flex-1 p-5 pb-10 bg-[rgb(2,169,234)] relative")
                div(class='font-bold text-xs lg:text-base text-white') Как определять звонки злоумышленников
                div(class='font-light text-[10px] text-[#00000080] absolute bottom-5') 12.12.2023
        a(class='min-h-[350px] bg-white rounded-3xl overflow-hidden flex flex-col' href='./news')
            div(class='h-[270px] bg-no-repeat bg-cover bg-center' style="background-image: url('/vyatsu-web/rcfg43/img/news/3.jpeg')")
            div(class="flex-1 p-5 pb-10 bg-[rgb(2,169,234)] relative")
                div(class='font-bold text-xs lg:text-base text-white') Студенты ВятГУ продолжают проводить уроки финансовой грамотности для школьников
                div(class='font-light text-[10px] text-[#00000080] absolute bottom-5') 11.12.2023
        a(class='min-h-[350px] bg-white rounded-3xl overflow-hidden flex flex-col' href='./news')
            div(class='h-[270px] bg-no-repeat bg-cover bg-center' style="background-image: url('/vyatsu-web/rcfg43/img/news/4.jpeg')")
            div(class="flex-1 p-5 pb-10 bg-[rgb(2,169,234)] relative")
                div(class='font-bold text-xs lg:text-base text-white') Преподаватель ВятГУ провела лекцию по финансовой грамотности в Университете третьего возраста
                div(class='font-light text-[10px] text-[#00000080] absolute bottom-5') 04.12.2023

    // load more
    .mt-10.flex.justify-center.items-center
        div(class="bg-[rgb(2,169,234)] cursor-pointer flex justify-center items-center text-white px-10 py-4 rounded-full") Показать ещё
