div(id = "projects" class="px-5")
    div(class="py-20")
        div(class="mb-[50px] text-[62px] text-[rgb(2,169,234)] uppercase font-semibold text-center") Проекты
        div(class="text-center text-[20px] lg:text-[24px] font-extralight") Научные исследования, образовательные и просветительские мероприятия
    div(class="grid grid-cols-1 lg:grid-cols-4 gap-5 lg:gap-10 max-w-[1200px] mx-auto")
        a(href="" class="h-[440px] relative bg-no-repeat bg-center bg-cover group/item" style="background-image: url('/vyatsu-web/rcfg43/img/projects/1.png')")
            div(class="absolute h-full w-full bg-[rgb(2,169,234)] opacity-60 lg:opacity-0 group-hover/item:opacity-60 transition-all ease-in")
            div(class="absolute bottom-0 min-h-[100px] lg:min-h-[200px] flex items-center p-5 text-white lg:opacity-0 group-hover/item:opacity-100 transition-all ease-in")
                div(class="text-base lg:text-[20px]") Онлайн-курс «Основы финансовой грамотности»
        a(href="" class="h-[440px] relative bg-no-repeat bg-center bg-cover group/item" style="background-image: url('/vyatsu-web/rcfg43/img/projects/2.jpeg')")
            div(class="absolute h-full w-full bg-[rgb(2,169,234)] opacity-60 lg:opacity-0 group-hover/item:opacity-60 transition-all ease-in")
            div(class="absolute bottom-0 min-h-[100px] lg:min-h-[200px] flex items-center p-5 text-white lg:opacity-0 group-hover/item:opacity-100 transition-all ease-in")
                div(class="text-base lg:text-[20px]") Студенческая и школьная лиги дебатов по финансовой грамотности
        a(href="" class="h-[440px] relative bg-no-repeat bg-center bg-cover group/item" style="background-image: url('/vyatsu-web/rcfg43/img/projects/3.jpeg')")
            div(class="absolute h-full w-full bg-[rgb(2,169,234)] opacity-60 lg:opacity-0 group-hover/item:opacity-60 transition-all ease-in")
            div(class="absolute bottom-0 min-h-[100px] lg:min-h-[200px] flex items-center p-5 text-white lg:opacity-0 group-hover/item:opacity-100 transition-all ease-in")
                div(class="text-base lg:text-[20px]") Школа финансовой безопасности
        a(href="" class="h-[440px] relative bg-no-repeat bg-center bg-cover group/item" style="background-image: url('/vyatsu-web/rcfg43/img/projects/4.jpeg')")
            div(class="absolute h-full w-full bg-[rgb(2,169,234)] opacity-60 lg:opacity-0 group-hover/item:opacity-60 transition-all ease-in")
            div(class="absolute bottom-0 min-h-[100px] lg:min-h-[200px] flex items-center p-5 text-white lg:opacity-0 group-hover/item:opacity-100 transition-all ease-in")
                div(class="text-base lg:text-[20px]") Исследования РЦФГ Кировской области
    div(class="py-20")
        div(class="text-center text-[20px] lg:text-[26px] font-semibold") Хотите провести у себя мероприятие по финансовой грамотности?<br>Мы можем помочь!
        div(class="mt-5 text-center text-[16px] lg:text-[20px] font-extralight") Оставьте свою заявку
        div(class="mt-20 text-center text-[16px] lg:text-[20px] font-extralight") Подробнее познакомиться с деятельностью Центра можно в презентации


