div(class="max-w-[1200px] w-full my-20 mx-auto px-5 grid grid-cols-1 lg:grid-cols-2 gap-10")
    +useful_square("Материалы от Управления ФНС России по Кировской области",
        "/vyatsu-web/rcfg43/poleznoe/ufns",
        "/vyatsu-web/rcfg43/img/useful/fns.jpeg")
    +useful_square("Материалы Отделения Киров Волго-Вятского ГУ Банка России по финансовой грамотности",
        "/vyatsu-web/rcfg43/poleznoe/cbrfko",
        "/vyatsu-web/rcfg43/img/useful/kirov4.jpg")
