html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ &quot;КИРОВСКИЙ РЕГИОНАЛЬНЫЙ ЦЕНТР ИССЛЕДОВАНИЙ И ЭКСПЕРТИЗ ВЯТГУ
        link(href="../output.css" rel="stylesheet")
    body(class="font-['Circe',Arial,sans-serif'] text-[rgb(51,58,146)]")
        include  ../templates/header
        include  ../templates/block-title
        include ../templates/divider-1
        div(class="font-semibold text-[30px] lg:text-[64px] text-center text-black")
            a(href="/vyatsu-web/expert/news") Новости и анонсы>>
        include ../templates/divider-1
        include ../templates/about
        include ../templates/projects
        include  ../templates/contacts
        include  ../templates/footer
