html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ &quot;КИРОВСКИЙ РЕГИОНАЛЬНЫЙ ЦЕНТР ИССЛЕДОВАНИЙ И ЭКСПЕРТИЗ ВЯТГУ

    include ../templates/imports
    include ../templates/mixins

    body(class="font-[Arial,sans-serif'] text-black")
        include  ../templates/header
        include  ../templates/block-title
        include  ../templates/about
        include  ../templates/projects
        div(id="news")
            +title("НОВОСТИ")
            include  ../templates/news_4
        +title("Полезное")
        include  ../templates/useful
        +title_sm("МАТЕРИАЛЫ ПО ФИНАНСОВОЙ ГРАМОТНОСТИ")
        include  ../templates/news_3
        include  ../templates/useful_2
        include  ../templates/contacts

