footer(class="px-10 py-20 flex justify-center bg-[rgba(22,21,37,1)] text-white")
    div(class="grid grid-cols-1 lg:grid-cols-3 gap-10")
        div(class="flex justify-center items-center")
            a(href='https://vk.com/vyatsumedia' target='_blank' rel='noopener')
                svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 99 99' enable-background='new 0 0 99 99' space='preserve')
                    path(fill-rule='evenodd' clip-rule='evenodd' style='fill:#ffffff;' d='M49 98C76.062 98 98 76.062 98 49C98 21.938 76.062 0 49 0C21.938 0 0 21.938 0 49C0 76.062 21.938 98 49 98ZM22 34C22.4442 55.3198 33.1042 68.1323 51.7933 68.1323H52.8527V55.9351C59.7202 56.6182 64.9132 61.6409 66.9973 68.1323H76.7008C74.0359 58.4292 67.0314 53.0649 62.658 51.0149C67.0314 48.4866 73.1814 42.3367 74.6505 34H65.8353C63.922 40.7649 58.251 46.915 52.8527 47.4958V34H44.0374V57.6433C38.5707 56.2766 31.6692 49.6482 31.3617 34H22Z')
        div(class="flex justify-center lg:justify-start items-center lg:row-start-1")
            div(class="text-center lg:text-left") © 2022 Студенческий Медиацентр ВятГУ, Управление информационной работы и коммуникаций ВятГУ
        div(class="flex justify-center lg:justify-end items-center cursor-pointer" onclick="scrollToTop()") 
            div(id="to-top" class="mr-3") Вернутся к началу
            span.t452__icon
                svg(role='presentation' width='5px' height='17px' viewBox='0 0 6 20' version='1.1')
                    defs
                    g#Welcome(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage')
                    g#Desktop-HD-Copy-39(sketch:type='MSArtboardGroup' transform='translate(-569.000000, -1797.000000)' fill='#ffffff')
                        path#Shape(d='M565.662286,1804.2076 L562.095536,1806.87166 C561.958036,1807.00916 561.958036,1807.16385 562.095536,1807.30135 L565.662286,1809.96541 C565.799786,1810.10291 565.941411,1810.0431 565.941411,1809.83616 L565.941411,1808.11741 L581.816411,1808.11741 L581.816411,1806.05491 L565.941411,1806.05491 L565.941411,1804.33616 C565.941411,1804.18147 565.866474,1804.1141 565.769536,1804.14297 C565.737224,1804.1526 565.696661,1804.17322 565.662286,1804.2076 Z' sketch:type='MSShapeGroup' transform='translate(571.904411, 1807.088000) rotate(-270.000000) translate(-571.904411, -1807.088000) ')
script.
    function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth' // Optional: Smooth scrolling behavior
    });
    }