//- css
link(href="/vyatsu-web/output.css" rel="stylesheet")
link(href="/vyatsu-web/media/styles.css" rel="stylesheet")
//- swiper
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
