html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ &quot;КИРОВСКИЙ РЕГИОНАЛЬНЫЙ ЦЕНТР ИССЛЕДОВАНИЙ И ЭКСПЕРТИЗ ВЯТГУ
        link(href="../../../output.css" rel="stylesheet")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
        script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
    body(class="font-['Circe',Arial,sans-serif'] text-[rgb(51,58,146)]")
        include  ../../../templates/header

        div(class="mx-auto max-w-[1200px] px-5 lg:px-0")
            div(class="py-20")
                div(class="flex flex-col")
                    div(class="relative flex justify-center items-center")
                        div(class="bg-black text-white uppercase py-2.5 px-10 font-bold tracking-[2px] z-10") Новости
                        div(class="bg-black h-[1px] absolute w-full")

                    div(class="mt-10 mb-14 text-center text-[26px] lg:text-[38px] font-bold uppercase") В КИРОВЕ ШКОЛЬНИКАМ НАПОМНИЛИ О МЕРАХ ПРОФИЛАКТИКИ ЭКСТРЕМИЗМА И ТЕРРОРИЗМА

                    div(class="relative flex justify-center items-center")
                        div(class="bg-black h-[1px] absolute w-full")
            div(class="")
                div(class="mx-auto max-w-[760px] text-base lg:text-[20px] font-light leading-[23px] lg:leading-[32px]").
                    КРЦИиЭ ВятГУ совместно с Управлением МВД России по Кировской области при поддержке Общественного
                    совета при УМВД провели интерактивный квест для учеников школ Кирова «Подумай о последствиях»,
                    направленный на профилактику экстремизма и терроризма в подростковой и молодежной среде.
            div(class="py-20")
                div(class="grid grid-cols-1 lg:grid-cols-3 gap-10")
                    div(class="text-[20px] font-light").
                        Перед началом квеста юных гостей поприветствовал начальник отделения по делам несовершеннолетних
                         УМВД России по городу Кирову Артем Бабинцев. Он подчеркнул, что формирование навыков
                         противодействия экстремизму и терроризму должно проходить у граждан именно в подростковом
                         возрасте. Организаторы же, в свою очередь, сделали все возможное для того, чтобы разговаривать
                         с участниками квеста на одном языке. К словам полицейского присоединился и член Общественного
                          совета при УМВД России по Кировской области Марат Куватов, призвав ребят воспитывать в себе
                          любовь к Родине.
                    div(class="lg:col-span-2")
                        // Swiper
                        div(class="swiper mySwiper2 h-fit" style='--swiper-navigation-color: #000; --swiper-pagination-color: #000')
                            div(class="swiper-wrapper")
                                img(class="h-full swiper-slide aspect-video" src='/expert/img/news/example1/1.jpeg')
                                img(class="h-full swiper-slide aspect-video" src='/expert/img/news/example1/2.jpeg')
                                img(class="h-full swiper-slide aspect-video" src='/expert/img/news/example1/3.jpeg')
                            //.swiper-button-next
                            //.swiper-button-prev
                        div(class="swiper mySwiper mt-1")
                            .swiper-wrapper
                                img(class="h-full swiper-slide cursor-pointer" src='/expert/img/news/example1/1.jpeg')
                                img(class="h-full swiper-slide cursor-pointer" src='/expert/img/news/example1/2.jpeg')
                                img(class="h-full swiper-slide cursor-pointer" src='/expert/img/news/example1/3.jpeg')
            div(class="py-20")
                div(class="grid grid-cols-1 lg:grid-cols-3 gap-10")
                    div(class="lg:col-span-2")
                        // Swiper
                        div(class="swiper mySwiper4 aspect-video" style='--swiper-navigation-color: #000; --swiper-pagination-color: #000')
                            div(class="swiper-wrapper")
                                img(class="h-full swiper-slide aspect-video" src='/expert/img/news/example1/1.jpeg')
                                img(class="h-full swiper-slide aspect-video" src='/expert/img/news/example1/2.jpeg')
                                img(class="h-full swiper-slide aspect-video" src='/expert/img/news/example1/3.jpeg')
                            //.swiper-button-next
                            //.swiper-button-prev
                        div(class="swiper mySwiper3 mt-1")
                            .swiper-wrapper
                                img(class="h-full swiper-slide cursor-pointer" src='/expert/img/news/example1/1.jpeg')
                                img(class="h-full swiper-slide cursor-pointer" src='/expert/img/news/example1/2.jpeg')
                                img(class="h-full swiper-slide cursor-pointer" src='/expert/img/news/example1/3.jpeg')
                    div(class="text-[20px] font-light").
                        Участников акции организаторы разделили на несколько команд,
                        в составе которых им было предложено поучаствовать в игре по станциям.
                        На каждой в созданной обстановке (улица, студенческое общежитие, кинозал, кафе и другие)
                        с использованием мультимедийных технологий участники должны были сами вывести модели поведения
                        в заданных условиях. Тем самым юные кировчане сами сформировали навыки выявления
                        подозрительных предметов, предупреждение экстремизма в сети Интернет и, самое главное,
                        осознание ответственности за совершение правонарушений и преступлений террористической
                        и экстремистской направленности.
            div(class="py-20")
                div(class="mx-auto max-w-[760px] text-base lg:text-[20px] font-light leading-[23px] lg:leading-[32px]").
                    В завершении мероприятия организаторы вместе с гостями обобщили сделанные выводы.
                    По итогам квеста детям раздали специальные памятки, изготовленные Общественным советом,
                    в которые включены правила поведения и номера телефонов экстренных служб.

        include  ../../../templates/contacts
        include  ../../../templates/footer

script.
    // низ
    const swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 4,
        slidesPerView: "10",
        freeMode: true,
        watchSlidesProgress: true,
    });
    // верх
    const swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        centered: true,
        thumbs: {
            swiper: swiper,
        },
    });

    // низ
    const swiper3 = new Swiper(".mySwiper3", {
        loop: true,
        spaceBetween: 4,
        slidesPerView: "10",
        freeMode: true,
        watchSlidesProgress: true,
    });
    // верх
    const swiper4 = new Swiper(".mySwiper4", {
        loop: true,
        spaceBetween: 10,
        centered: true,
        thumbs: {
            swiper: swiper3,
        },
    });
